@import url('https://fonts.googleapis.com/css?family=Sarpanch:400|Syncopate|VT323|Amatica+SC|Bungee+Hairline|Monofett|Press+Start+2P|Meddon');

/*
font-family: 'Sarpanch', sans-serif;
font-family: 'Syncopate', sans-serif;
font-family: 'VT323', monospace;

font-family: 'Press Start 2P', cursive;
font-family: 'Amatica SC', cursive;
font-family: 'Monofett', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Comic Sans MS', cursive;
*/
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Press Start 2P', cursive;
}
header {
  font-family: 'Syncopate', sans-serif;
}
h1 {
  font-size: 4em;
  margin: 0;
}
.left-side {
 width: 40%;
 height: 100vh;
 position: fixed;
 left: 0;
 overflow-y: scroll;
}
.right-side {
  background-image: url('images/hat.jpg');
  background-size: cover;
  width: 60%;
  height: 100vh;
  position: fixed;
  left: 40%;
}
.content {
  position: absolute;
  left: 40%;
}
.secondary-nav {
  text-align: center;
  font-family: 'Bungee Hairline', cursive;
  font-size: 1.5em;
  cursor: pointer;
}
.secondary-nav li {
  display: inline-block;
}
.main-nav {
  background-image: url('images/whitespace.jpg');
  background-size: cover;
  background-position-y: 0%;
  text-align: left;
  cursor: pointer;
}
.main-nav li {
  padding: 1em;
  margin: 1em 0;
  vertical-align: baseline;
}
.main-nav li:hover {
  color: black;
}

.main-nav li:hover:nth-of-type(1) { background-color: red !important; }
.main-nav li:hover:nth-of-type(2) { background-color: aqua !important; }
.main-nav li:hover:nth-of-type(3) { background-color: aqua !important; }
.main-nav li:hover:nth-of-type(4) { background-color: lime !important; }
.main-nav li:hover:nth-of-type(5) { background-color: lime !important; }
.main-nav li:hover:nth-of-type(6) { background-color: magenta !important; }
.main-nav li:hover:nth-of-type(7) { background-color: red !important; }
.main-nav li:hover:nth-of-type(8) { background-color: deeppink !important; }

.stuff {
  font-size: 1.5em;
  display: none;
}
.main-nav li:nth-of-type(1) span { font-family: 'Amatica SC', cursive; }
.main-nav li:nth-of-type(2) span { font-family: 'Monofett', cursive; }
.main-nav li:nth-of-type(3) span { font-family: 'Sarpanch', sans-serif; }
.main-nav li:nth-of-type(4) span { font-family: 'Bungee Hairline', cursive; }
.main-nav li:nth-of-type(5) span { font-family: 'VT323', monospace; }
.main-nav li:nth-of-type(6) span { font-family: 'Amatica SC', cursive; }
.main-nav li:nth-of-type(7) span { font-family: 'Comic Sans MS', cursive; }
.main-nav li:nth-of-type(8) span { font-family: 'Sarpanch', cursive; }

section {
  height: 100vh;
  width: 100%;
  display: none;
}
section p {
  line-height: 1.2em;
  margin-top: 10px;
}
section img {
  width: 100%;
}
section div {
  width: 80%;
}
section div:nth-of-type(odd) {
  float: left;
}
section div:nth-of-type(even) {
  float: right;
  text-align: right;
}
/*
.and {
  font-size: 3em;
  color: white;
  position: absolute;
  top: 450px;
  left: 100px;
  transform: rotate(-20deg);
  background-color: magenta;
  padding: 10px;
}
*/
#art p{
  background: deeppink;
  color: cyan;
  text-shadow: 0px 0px 3px white;
  font-family: 'Amatica SC', sans-serif;
  font-size: 1.7em;
}

#science {
  height: 200px;
  background: white;
  font-family: 'Sarpanch', sans-serif;
  text-shadow: 0px 0px 3px cyan;
}
#science h2 {
  font-size: 1.2em;
  text-decoration: underline;
}
#code div {
  float: left;
  text-align: left;
}
#code p {
  background: black;
  color: lime;
  font-family: 'Bungee Hairline', cursive;
  margin: 0;
}
#code a {
  color: blueviolet;
}
#electronics p {
  background: lime;
}

#about, #contact {
  font-family: 'Amatica SC', cursive;
  font-size: 2em;
  line-height: 1.3em;
  background: white;
  color: black;
  position: fixed;
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  top: 50%;
  padding: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: 30px;
  cursor: crosshair;
  display: none;
  overflow-y: scroll;
}
#contact {
  text-align: center;
}
#web p{
  background: white;
  font-family: 'VT323', monospace;
}
#design p {
  background: red;
  color: white;
  font-family: 'Amatica SC', cursive;
  font-size: 1.1em;
}
#random p {
  font-family: 'Sarpanch', sans-serif;
  color: white;
  text-shadow: 0px 0px 3px deeppink;
}
#textiles p {
  background: blueviolet;
  color: lime;
  font-size: 1.4em;
  font-family: 'Amatica SC', cursive;
}
#science-design p {
  color: white;
}
#textiles-electronics p {
  font-family: 'comic sans ms', cursive;
  background: black;
  color: magenta;
  text-shadow: 0px 0px 5px cyan;
}
#textiles-design p {
  font-family: 'VT323', monospace;
  background: white;
  text-shadow: 0px 0px 3px deeppink;
}
#web-design p {
  font-family: 'Comic Sans MS', cursive;
  background: black;
  color: red;
}
.close {
  font-family: sans-serif;
  background-color: white;
  color: magenta;
  border: 3px solid magenta;
  position: absolute;
  right: 0;
  top: 0;
  text-indent: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 3em;
  }
  .left-side {
   width: 100%;
   left: 0;
   overflow-y: hidden;
   position: relative;
    height: inherit;
  }
  .right-side {
    display: none;
    position: relative;
  }
  .content {
    position: relative;
    width: 100vw;
    left: 0;
  }
  section div {
    width: 100%;
  }
  #about, #contact {
    max-width: 70vw;
    padding-top: 100px;
  }
  .close {
    font-size: 80px;
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .smaller {
    font-size: 0.7em;
  }
  .secondary-nav {
    margin-bottom: 60px;
  }
}

@media screen and (max-height: 740px) {
  .main-nav li {
    padding: .2em;;
  }
}

@media screen and (max-height: 460px) {
  .main-nav li {
    font-size: .8em;
  }
}
